fabric-workspace/PL_RawToBronze_Template.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Delete",
        "typeProperties": {
          "enableLogging": false,
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": {
                  "value": "@concat(pipeline().parameters.LandingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName)",
                  "type": "Expression"
                }
              }
            },
            "linkedService": {
              "name": "LH_Bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "4603a0d6-45a4-464e-b675-a4b7336d7a37",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CleanUp_Landing",
        "dependsOn": [
          {
            "activity": "Copy Source to Target",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Delete",
        "typeProperties": {
          "enableLogging": false,
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": {
                  "value": "@concat(pipeline().parameters.LandingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName)",
                  "type": "Expression"
                }
              }
            },
            "linkedService": {
              "name": "LH_Bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "4603a0d6-45a4-464e-b675-a4b7336d7a37",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CleanUp_Landing_copy1",
        "dependsOn": [
          {
            "activity": "Copy Landing to Quarinetine",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(pipeline().parameters.LandingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "471716ac_4823_413e_a86e_fc38d144e3b5",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "MergeFiles"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@variables('StagingPath')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "c6382e66_0ef0_49ef_ac5e_0f5b3b7c07e2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Landing to Staging",
        "dependsOn": [
          {
            "activity": "Set StagingPath",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(pipeline().parameters.LandingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "471716ac_4823_413e_a86e_fc38d144e3b5",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "MergeFiles"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@variables('ArchivePath')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "c6382e66_0ef0_49ef_ac5e_0f5b3b7c07e2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Landing to Archive",
        "dependsOn": [
          {
            "activity": "Copy Landing to Staging",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set ArchivePath",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@variables('StagingPath')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "471716ac_4823_413e_a86e_fc38d144e3b5",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": {
                  "value": "@pipeline().parameters.DestinationTableName",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "c6382e66_0ef0_49ef_ac5e_0f5b3b7c07e2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Source to Target",
        "dependsOn": [
          {
            "activity": "Copy Landing to Staging",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(pipeline().parameters.LandingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "471716ac_4823_413e_a86e_fc38d144e3b5",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "MergeFiles"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@variables('QuarantinePath')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "c6382e66_0ef0_49ef_ac5e_0f5b3b7c07e2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.DestinationConnectionID",
                    "workspaceId": "@pipeline().parameters.WorkspaceID",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Landing to Quarinetine",
        "dependsOn": [
          {
            "activity": "Copy Source to Target",
            "dependencyConditions": [
              "Failed"
            ]
          },
          {
            "activity": "Set QuarantinePath",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "FolderTimeStamp",
          "value": {
            "value": "@concat(substring(formatDateTime(variables('SydneyCurrentTime'), 'yyyy-MM-dd'),0,4),'/',substring(formatDateTime(variables('SydneyCurrentTime'), 'yyyy-MM-dd'),5,2),'/',substring(formatDateTime(variables('SydneyCurrentTime'), 'yyyy-MM-dd'),8,2),'/',substring(formatDateTime(variables('SydneyCurrentTime'), 'yyyy-MM-dd HH'),11,2),'/',substring(formatDateTime(variables('SydneyCurrentTime'), 'yyyy-MM-dd HH:mm'),14,2))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set FolderTimestamp",
        "dependsOn": [
          {
            "activity": "Set_Current_Time",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "SydneyCurrentTime",
          "value": {
            "value": "@convertFromUtc(utcNow(),'AUS Eastern Standard Time')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_Current_Time",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "StagingPath",
          "value": {
            "value": "@concat(pipeline().parameters.StagingContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName,'/',variables('FolderTimeStamp'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set StagingPath",
        "dependsOn": [
          {
            "activity": "Set FolderTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "ArchivePath",
          "value": {
            "value": "@concat(pipeline().parameters.ArchiveContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName,'/',variables('FolderTimeStamp'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set ArchivePath",
        "dependsOn": [
          {
            "activity": "Set FolderTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "StagingPath",
          "value": {
            "value": "@concat(pipeline().parameters.QuarantineContainer,'/',pipeline().parameters.SourceSystemCode,'/',pipeline().parameters.DestinationTableName,'/',variables('FolderTimeStamp'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set QuarantinePath",
        "dependsOn": [
          {
            "activity": "Set FolderTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "LandingContainer": {
        "type": "string",
        "defaultValue": "{{varLandingContainer}}"
      },
      "StagingContainer": {
        "type": "string",
        "defaultValue": "{{varStagingContainer}}"
      },
      "ArchiveContainer": {
        "type": "string",
        "defaultValue": "{{varArchiveContainer}}"
      },
      "DestinationConnectionID": {
        "type": "string",
        "defaultValue": "{{varDestinationConnectionID}}"
      },
      "QuarantineContainer": {
        "type": "string",
        "defaultValue": "{{varQuarantineContainer}}"
      },
      "DestinationTableName": {
        "type": "string",
        "defaultValue": "{{varDestinationTableName}}"
      },
      "WorkspaceID": {
        "type": "string",
        "defaultValue": "{{varWorkspaceID}}"
      },
      "SourceSystemCode": {
        "type": "string",
        "defaultValue": "{{varSourceSystemCode}}"
      }
    },
    "variables": {
      "StagingPath": {
        "type": "String"
      },
      "QuarantinePath": {
        "type": "String"
      },
      "ArchivePath": {
        "type": "String"
      },
      "FolderTimeStamp": {
        "type": "String"
      },
      "SydneyCurrentTime": {
        "type": "String"
      }
    }
  }
}